.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #000000;
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #99ccff;
	border-radius: 2em;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #666666;
}

#main {
	border-radius: 6em;
	background-color: #99ccff;
}

#links {
	text-align: center;
	position: fixed;
	float: left;
	width: 6%;
}

#links a {
	display: block;
	text-align: center;
	margin-top: 7%;
}

#links a img {
	width: 80%;
	border-radius: 100%;
}

#blogs {
	text-align: center;
	width: 85%;
	position: relative;
	float: right;
	padding: 6%;
}

#blogs a figure {
	width: 28%;
	margin: 2%;
	display: inline-block;
	vertical-align: top;
	font-size: 1.2em;
}

#blogs a figure img {
	border-radius: 100%;
	width: 100%;
}

img {
	width: 80%;
	margin: auto;
}

header {
	display: table;
	max-width: 1000px;
	height: 200px;
	background: url(http://i.imgur.com/8iwBfO0.jpg) center no-repeat;
	position: top center;
	font-family: 'Krona One', sans-serif;
	color: #99ccff;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h1 {
	font-size: 2.5em;
}

h3 {
	padding: -.2em;
	font-size: 1.8em;
}

header h1 {
	font-size: 350%;
	display: table-cell;
	vertical-align: middle;
}

p {
	text-align: left;
}

@media screen and (max-width: 820px) {
	header h1 {
		font-size: 300%;
		display: table-cell;
		vertical-align: middle;
	}

	#links {
		text-align: center;
		position: fixed;
		float: left;
		width: 10%;
	}

	#blogs {
		text-align: center;
		width: 80%;
		float: right;
	}

	#blogs a figure {
		width: 44%;
		margin: 2%;
		display: inline-block;
		vertical-align: top;
		font-size: 1.2em;
	}
}

@media screen and (max-width: 500px) {
	header h1 {
		font-size: 230%;
		display: table-cell;
		vertical-align: middle;
	}

	#blogs {
		text-align: center;
		width: 76%;
		float: right;
	}

	#blogs a figure {
		width: 80%;
		margin: 2%;
		display: block;
		vertical-align: top;
		font-size: 1.2em;
	}

	#links {
	text-align: center;
	position: fixed;
	float: left;
	width: 17%;
}

	#links a {
		display: inline-block;
	}

	#links a img{
		position:static;
		width: 80%;
		display: inline-block;
	}
}

